<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">

</head>
<body class="flex justify-center items-center h-screen bg-gray-100">
    <div id="chat-container" class="flex flex-col border-2 border-black rounded-lg shadow-lg bg-white p-6 w-full max-w-3xl h-[700px]">
        <div id="heading" class="bg-green-200 border border-black text-center mb-4 p-2 font-bold text-lg">User Name</div>
        <div id="messages" class="flex-grow overflow-y-auto border border-gray-300 rounded-lg mb-4 p-4"></div>
        <input id="message-input" type="text" class="border-2 border-gray-300 p-3 w-full mb-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Type your message here...">
        <button id="send-button" class="bg-blue-500 text-white rounded-md p-3 hover:bg-blue-600 transition duration-200">Send</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
